[defaults]
# 默认绑定的资产清册文件（今后敲命令无需再手动加 -i hosts.ini）
inventory = ./hosts.ini

# 彻底关闭 SSH 首次连接的交互式主机公钥检查（消灭 yes/no 拦截）
host_key_checking = False

# 统一指定 Ansible 使用的主控私钥路径
private_key_file = ~/.ssh/id_ed25519

# 设置超时阈值（避免海外跨境网络波动导致判定过快）
timeout = 30
